.ourStory{
    display: flex;
    gap: 80px;
}
.content{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    gap: 20px;
}
.content h3 {
    font-size: 22px;
    color: var(--TextColor);
  }
  .content p{
    color: var(--TextColorGrey);
letter-spacing: 0.5px;
font-family: 'Raleway', sans-serif;
margin-bottom: 10px;
  }
.img{
 
        width: 48%;
      }

      @media only screen and (max-width: 950px) {
        .ourStory{flex-direction: column-reverse;}
        .content{
          width: 100%;
        }
        .img{
          width: 100%;
        }
      }